<div class="container">
  <a href="home" routerLink="">Home</a>

  <a href="about" routerLink="/about">About</a>

  <a href="user-list" routerLink="/user-list">Userlist</a>
</div>

<a href="registration" routerLink="/registration">Registration Form</a>

<div>
  <div>
    <app-child1
      [inputText]="parentText"
      (childEvent)="onChildEvent($event)"
    ></app-child1>
    <app-child2
      [inputText]="parentText"
      (childEvent)="onChildEvent($event)"
    ></app-child2>
  </div>
</div>

<app-user></app-user>

<router-outlet />
